/JavaApplication1/nbproject/private/
/ServerCaviste/nbproject/private/
/Server/nbproject/private/
/client/Server/nbproject/private/
/client/nbproject/private/
/server/nbproject/private/
/server/slim-skeleton/nbproject/private/
/client/node_modules/